body {
  background-image: url("background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

#animate {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 100px;
  background-image: url("balloon.png");
  background-repeat: no-repeat;
  background-size: contain;
}

